body {
    background-color: whitesmoke;
}
.center{
    text-align: center;
    font-size: px;
}
h1 {
    color: aquamarine;
}

span.center {
    border: 2px solid powderblue;
  }

/* div {
    background-color: blue;
} */